.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .about__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.about__image {
  display: block;
  margin-bottom: 128px;
}

.advantage-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 768px) {
  .advantage-card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 72px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.advantage-card__item {
  width: 288px;
  -webkit-transition-property: background-color, border-radius, -webkit-box-shadow;
  transition-property: background-color, border-radius, -webkit-box-shadow;
  transition-property: background-color, border-radius, box-shadow;
  transition-property: background-color, border-radius, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.adventage-card__link {
  display: block;
  max-width: 288px;
  padding: 32px 40px;
  text-decoration: none;
}

.advantage-card__item:hover,
.advantage-card__item:focus {
  background-color: #fefefe;
  -webkit-box-shadow: 0px 5.87438px 31.33px rgba(155, 148, 148, 0.17);
          box-shadow: 0px 5.87438px 31.33px rgba(155, 148, 148, 0.17);
  border-radius: 8px;
}

.advantage-card__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
  width: 48px;
  height: 48px;
  fill: #647b64;
  background-color: #fefefe;
  border-radius: 8px;
  -webkit-transition-property: background-color, fill;
  transition-property: background-color, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.advantage-card__item:hover .advantage-card__img,
.advantage-card__item:focus .advantage-card__img {
  background-color: #647b64;
  fill: #fefefe;
}

.advantage-card__title {
  color: #333333;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
}

.advantage-card__text {
  color: #4f4f4f;
  font-size: 14px;
  line-height: 1.57;
}

.advantages__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 768px) {
  .advantages__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 72px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

body {
  color: #4f4f4f;
  background-color: #f3f1ee;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  padding: 24px;
  color: #fefefe;
  fill: currentColor;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  line-height: 1.5;
  text-transform: uppercase;
  cursor: pointer;
  background: linear-gradient(102.3deg, #647b64 -4.62%, #66ac66 178.22%);
  -webkit-box-shadow: 0px 20px 40px rgba(128, 143, 150, 0.19);
          box-shadow: 0px 20px 40px rgba(128, 143, 150, 0.19);
  border-radius: 2px;
  border-style: none;
  -webkit-transition-property: color, background, -webkit-box-shadow;
  transition-property: color, background, -webkit-box-shadow;
  transition-property: color, background, box-shadow;
  transition-property: color, background, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}
.button:hover, .button:focus {
  color: #647b64;
  background: #fefefe;
  -webkit-box-shadow: 0px 20px 40px rgba(128, 143, 150, 0.4);
          box-shadow: 0px 20px 40px rgba(128, 143, 150, 0.4);
}

.header__button {
  display: none;
  padding: 12px 16px;
  border-radius: 3px;
  border-style: none;
}
@media screen and (min-width: 768px) {
  .header__button {
    display: block;
  }
}

.container {
  max-width: 1200px;
  padding: 0 16px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 44px;
}
@media screen and (min-width: 768px) {
  .features__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.features__item {
  width: 360px;
  max-height: 338px;
  padding: 64px 50px 59px;
  margin-bottom: 64px;
  fill: #647b64;
  background-color: #fefefe;
  border-radius: 8px;
}

.features__item--brand-color {
  fill: #fefefe;
  color: #fefefe;
  background-color: #647b64;
}

.features__icon {
  margin-bottom: 32px;
  fill: currentColor;
}

.features__title {
  margin-bottom: 16px;
  color: inherit;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
}

.features__text {
  line-height: 1.5;
}

.footer {
  background-color: #f0dcc5;
}

.header {
  padding-top: 48px;
  padding-bottom: 32px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header__burger-menu {
  padding: 10px 0;
  border: none;
  cursor: pointer;
  fill: #222b45;
}
@media screen and (min-width: 768px) {
  .header__burger-menu {
    display: none;
  }
}

.header__menu {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
@media screen and (min-width: 768px) {
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header__link {
  padding: 12px 0;
  color: #333333;
  line-height: 1.5;
  text-decoration: none;
  -webkit-transition-property: -webkit-text-decoration;
  transition-property: -webkit-text-decoration;
  transition-property: text-decoration;
  transition-property: text-decoration, -webkit-text-decoration;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}
.header__link:hover, .header__link:focus {
  text-decoration: underline;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 112px;
}

.hero__content {
  width: 500px;
}

.hero__title {
  margin-bottom: 24px;
  color: #333333;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.33;
  text-transform: uppercase;
}

.hero__descr {
  margin-bottom: 40px;
  line-height: 1.5;
}

.hero__image {
  display: none;
}
@media screen and (min-width: 768px) {
  .hero__image {
    display: block;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 48px 40px;
  display: none;
  background-color: #fefefe;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  -webkit-transition-property: display;
  transition-property: display;
  -webkit-transition-duration: 1000ms;
          transition-duration: 1000ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.mobile-menu__container {
  margin: 0 auto;
  padding: 0;
}
.mobile-menu__button {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 11px;
  width: 40px;
  height: 40px;
  color: #4f4f4f;
  background-color: #fefefe;
  border: none;
  fill: currentColor;
  cursor: pointer;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__button:hover {
  fill: #f3b562;
}
.mobile-menu__content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.mobile-menu__nav {
  margin-bottom: auto;
}
.mobile-menu__link {
  display: block;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #4f4f4f;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .mobile-menu__link {
    font-size: 40px;
  }
}
.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: #f3b562;
}
.mobile-menu__link--current {
  color: #f3b562;
  margin-bottom: 36px;
}
.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}
.mobile-menu__item--big-margin {
  margin-bottom: 64px;
}
.mobile-menu__tel {
  font-size: 30px;
  color: #f3b562;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .mobile-menu__tel {
    font-size: 34px;
  }
}
.mobile-menu__tel:hover, .mobile-menu__tel:focus {
  color: #333333;
}
.mobile-menu__mail {
  font-size: 20px;
  color: #333333;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .mobile-menu__mail {
    font-size: 24px;
  }
}
.mobile-menu__mail:hover, .mobile-menu__mail:focus {
  color: #f3b562;
}
.mobile-menu__social {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.mobile-menu__social-item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mobile-menu__social-link {
  padding-right: 10px;
  font-size: 12px;
  line-height: 1.22;
  color: #f3b562;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .mobile-menu__social-link {
    font-size: 18px;
  }
}
.mobile-menu__social-link:hover, .mobile-menu__social-link:focus {
  color: #333333;
}

.section__title {
  margin-bottom: 8px;
  color: #f3b562;
  font-weight: inherit;
  font-size: 24px;
  line-height: 1.33;
  text-transform: uppercase;
}

.section__subtitle {
  display: block;
  margin-bottom: 40px;
  color: #647b64;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.33;
  text-transform: uppercase;
}

.section__text {
  width: 445px;
  margin-bottom: 40px;
  line-height: 1.5;
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}
@media screen and (min-width: 768px) {
  .team {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.team__card {
  position: relative;
  padding: 24px 32px;
  background-color: #fefefe;
  border-radius: 8px;
}

.team__title {
  position: absolute;
  top: 24px;
  left: 184px;
  color: #333333;
  font-weight: 500;
  line-height: 1.5;
}

.team__name {
  position: absolute;
  top: 48px;
  left: 184px;
  font-size: 14px;
  line-height: 1.57;
}

.team__citation {
  font-style: italic;
  line-height: 1.5;
}/*# sourceMappingURL=main.css.map */