.about__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @media screen and (min-width: $tablet) {
    flex-direction: row;
  }
}

.about__image {
  display: block;
  margin-bottom: 128px;
}
