.advantage-card {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }

  @media screen and (min-width: $desktop) {
    gap: 32px;
  }

  &__item {
    transition-property: background-color, border-radius, box-shadow;
    transition-duration: 250ms;
  }

  .adventage-card__link {
    display: block;
    padding: 32px 40px;
    text-decoration: none;

    @media screen and (min-width: $tablet) {
      width: 140px;
      padding: 20px 25px;
    }

    @media screen and (min-width: $desktop) {
      width: 208px;
      padding: 32px 40px;
    }
  }

  &__item:hover,
  &__item:focus {
    background-color: var(--white-color);
    box-shadow: 0px 5.87438px 31.33px rgba(155, 148, 148, 0.17);
    border-radius: 8px;
  }

  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;

    width: 48px;
    height: 48px;
    fill: var(--brand-color);
    background-color: var(--white-color);
    border-radius: 8px;

    transition-property: background-color, fill;
    transition-duration: 250ms;
  }

  &__item:hover &__img,
  &__item:focus &__img {
    background-color: var(--brand-color);
    fill: var(--white-color);
  }

  &__title {
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 24px;
    line-height: 1.5;

    @media screen and (min-width: $tablet) {
      font-size: 20px;
    }
    @media screen and (min-width: $desktop) {
      font-size: 24px;
    }
  }
  &__text {
    color: var(--primary-text-color);
    font-size: 14px;
    line-height: 1.57;
    letter-spacing: 0.04em;
  }
}
