.advantages {
  position: relative;
  padding-bottom: 96px;
  padding-top: 23px;

  &::before {
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0;
    width: 600px;
    height: 160px;
    background-image: var(--decor-gradient);
    content: '';
  }
  &__container {
    @media screen and (min-width: $tablet) {
      display: flex;
      gap: 50px;
    }

    @media screen and (min-width: $desktop) {
      gap: 100px;
    }
  }

  &__content {
    margin-bottom: 48px;
  }
}
