.advantages {
  &__container {
    display: flex;
    flex-direction: column;
    padding-bottom: 96px;
    padding-top: 16px;

    @media screen and (min-width: $tablet) {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 72px;
      justify-content: flex-end;
    }
  }

  &__content {
    max-width: 372px;
    margin-bottom: 48px;

    @media screen and (min-width: $tablet) {
      width: 500px;
    }
  }
}
