.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 24px;

  color: $white-color;
  fill: currentColor;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  line-height: 1.5;
  text-transform: uppercase;
  cursor: pointer;

  background: linear-gradient(102.3deg, #647b64 -4.62%, #66ac66 178.22%);
  box-shadow: 0px 20px 40px rgba(128, 143, 150, 0.19);
  border-radius: 2px;
  border-style: none;

  transition-property: color, background, box-shadow;
  transition-duration: 500ms;

  &:hover,
  &:focus {
    color: $brand-color;
    background: $white-color;

    box-shadow: 0px 20px 40px rgba(128, 143, 150, 0.4);
  }
}

.header__button {
  padding: 12px 16px;

  border-radius: 3px;
  border-style: none;
}
