.features {
  position: relative;
  padding: 64px 0 32px;
}

.features::before {
  position: absolute;
  z-index: -1;
  bottom: 0px;
  right: 0;
  width: 600px;
  height: 160px;
  background-image: var(--decor-gradient);
  transform: rotate(180deg);
  content: '';
}

.features::after {
  position: absolute;
  z-index: -1;
  bottom: 0px;
  left: 0;
  width: 224px;
  height: 224px;
  background-image: url('../images/decor-dots.png');
  transform: rotate(180deg);
  content: '';
}

.features__list {
  display: flex;
  flex-direction: column;
  gap: 44px;

  @media screen and (min-width: $tablet) {
    flex-direction: row;
  }
}

.features__item {
  max-height: 338px;
  padding: 64px 50px 59px;

  fill: var(--brand-color);

  background-color: var(--white-color);
  border-radius: 8px;

  @media screen and (min-width: $tablet) {
    width: 360px;
  }
}

.features__item--brand-color {
  fill: var(--white-color);
  color: var(--white-color);
  background-color: var(--brand-color);
}
.features__icon {
  margin-bottom: 32px;
  fill: currentColor;
}

.features__title {
  margin-bottom: 16px;
  color: inherit;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
}

.features__text {
  line-height: 1.5;
}
