.header {
  padding-top: 32px;
  padding-bottom: 32px;
}

.header__container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;

  // @media screen and (max-width: $mobile) {
  //   gap: 122px;
  // }
}

.header__burger-menu {
  padding: 10px 0;
  border: none;
  cursor: pointer;
  fill: var(--icon-burger-menu-color);

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.header__menu {
  display: none;
  align-items: center;
  gap: 40px;

  @media screen and (min-width: $tablet) {
    display: flex;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
  }
}

.header__link {
  padding: 12px 0;

  color: var(--secondary-text-color);
  line-height: 1.5;
  text-decoration: none;

  transition-property: text-decoration;
  transition-duration: 500ms;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}
