.hero {
  padding-top: 32px;
  padding-bottom: 112px;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    // @media screen and (min-width: $tablet) {
    //   font-size: 24px;
    // }
  }

  &__content {
    max-width: 600px;

    // @media screen and (min-width: $tablet) {
    //   width: 500px;
    // }
  }
  &__title {
    position: relative;
    margin-bottom: 40px;
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 24px;
    line-height: 1.25;
    text-transform: uppercase;

    @media screen and (min-width: $tablet) {
      font-size: 36px;
      margin-bottom: 24px;
      line-height: 1.33;
    }
  }

  &__title::before {
    position: absolute;
    z-index: -1;
    top: -56px;
    left: 150px;
    width: 100px;
    height: 100px;
    background-image: var(--decor-gradient);
    border-radius: 50%;
    content: '';
  }

  &__descr {
    margin-bottom: 40px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    max-width: 500px;
  }

  &__image {
    display: none;

    @media screen and (min-width: $tablet) {
      display: block;
    }
  }
}
