.social {
  margin-top: 24px;
  &__list {
    display: flex;

    gap: 16px;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;

    transition-property: background-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    color: var(--brand-color);
    fill: currentColor;
    background-color: var(--background-icon-color);
    border-radius: 50%;

    &:hover,
    &:focus {
      background-color: var(--brand-color);
      color: var(--background-icon-color);
    }
  }
}
