.team {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media screen and (min-width: $tablet) {
    flex-direction: row;
  }
  @media screen and (min-width: $desktop) {
    gap: 32px;
  }
}

.team__card {
  position: relative;
  padding: 24px 32px;
  background-color: var(--white-color);
  border-radius: 8px;
}
.team__title {
  margin-top: 0;
  position: absolute;
  top: 24px;
  left: 184px;
  color: var(--secondary-text-color);
  font-weight: 500;
  line-height: 1.5;

  @media screen and (min-width: $tablet) {
    margin-top: 15px;
    position: static;
  }
  @media screen and (min-width: $desktop) {
    margin-top: 0;
    position: absolute;
  }
}

.team__name {
  font-size: 14px;
  line-height: 1.57;
  position: absolute;
  top: 48px;
  left: 184px;

  @media screen and (min-width: $tablet) {
    position: static;
  }

  @media screen and (min-width: $desktop) {
    position: absolute;
  }
}
.team__citation {
  margin-top: 24px;
  font-style: italic;
  line-height: 1.5;
}

.section__team {
  padding: 44px 0 128px;
}
